Soap/SoapFinal/WebContent/wsdl/PersonCRUD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://assign.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://assign.com" xmlns:intf="http://assign.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://assign.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="create">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="age" type="xsd:int"/>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createResponse">
    <complexType>
     <sequence>
      <element name="createReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="Display">
    <complexType/>
   </element>
   <element name="DisplayResponse">
    <complexType>
     <sequence>
      <element name="DisplayReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteByIdResponse">
    <complexType>
     <sequence>
      <element name="deleteByIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="Update">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="age" type="xsd:int"/>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="UpdateResponse">
    <complexType>
     <sequence>
      <element name="UpdateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteByIdResponse">

      <wsdl:part element="impl:deleteByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="UpdateResponse">

      <wsdl:part element="impl:UpdateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createRequest">

      <wsdl:part element="impl:create" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="UpdateRequest">

      <wsdl:part element="impl:Update" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createResponse">

      <wsdl:part element="impl:createResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteByIdRequest">

      <wsdl:part element="impl:deleteById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="DisplayRequest">

      <wsdl:part element="impl:Display" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="DisplayResponse">

      <wsdl:part element="impl:DisplayResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PersonCRUD">

      <wsdl:operation name="create">

         <wsdl:input message="impl:createRequest" name="createRequest">

       </wsdl:input>

         <wsdl:output message="impl:createResponse" name="createResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Display">

         <wsdl:input message="impl:DisplayRequest" name="DisplayRequest">

       </wsdl:input>

         <wsdl:output message="impl:DisplayResponse" name="DisplayResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteById">

         <wsdl:input message="impl:deleteByIdRequest" name="deleteByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteByIdResponse" name="deleteByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Update">

         <wsdl:input message="impl:UpdateRequest" name="UpdateRequest">

       </wsdl:input>

         <wsdl:output message="impl:UpdateResponse" name="UpdateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PersonCRUDSoapBinding" type="impl:PersonCRUD">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="create">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Display">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="DisplayRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="DisplayResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="UpdateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="UpdateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PersonCRUDService">

      <wsdl:port binding="impl:PersonCRUDSoapBinding" name="PersonCRUD">

         <wsdlsoap:address location="http://localhost:8085/SoapFinal/services/PersonCRUD"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
